
html, body{
    margin: 0%;
    padding: 0%;
    width: 100%;
}

.navigation {
    position: relative;
    position: sticky;
    top: 0;
    color: white;
    width: 100%;
    height: 64px;
    display: inline-flex;
    align-content: center;
    overflow: hidden;
    align-items: center;
    z-index: 1;
    background-color: white;
}

.navleft {
    text-align: left;
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 24px;
}

.head {
display: inline-flex;
text-align: left;
color: darkslategray;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
}

.head2 {
display: flex;
text-align: left;
color: gray;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
}


.navright {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-left: 24px;
}

a {
    padding-right: 16px;
    color: rgb(74, 77, 77);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    
}

a:hover {
   color: rgba(117, 238, 117, 0.678);
   transition: color 200ms ease-in 200ms;
}


.learn {
position: relative;
display: flex;
flex-wrap: nowrap;
width: 100%;
background-color: rgb(207, 204, 204);
flex-direction: row-reverse;
overflow: hidden;
margin: 0%;
align-items: center;
}

.banner {
height: 60%;
width: 60%;
padding-left: 24px;
padding-right: 24px;
padding-top: 32px;
padding-bottom: 32px;
}

.content {
    width: 100%;
    text-align: left;
}

.content h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(74, 77, 77);
}

.content h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(74, 77, 77);
}

.start {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(74, 77, 77);
    transition: background-color 100ms ease-in 100ms;
    border-radius: 15px;
}

.start:hover {
    background-color: rgba(117, 238, 117, 0.678);
    border-color:rgba(117, 238, 117, 0.678) ;
}

.practice {
    margin-top: 32px;
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: flex-start;
    margin-left: 24px;
    margin-right: 0;
    margin-bottom: 32px;
}

.practicedescription {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
    margin-right: 24px;
}

.practicedescription h1{
    margin-top: 0%;
    padding-top: 24px;
    color:rgb(74, 77, 77);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.practicedescription quote{ 
    color:rgb(74, 77, 77);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   

.practicedescription h5{
    color:rgb(74, 77, 77);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.emanual {
    height: auto;
    width: 100%;
}

.gallery {
    position: relative;
    display: flex;
    max-width: 40%;
    max-height: auto;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
}


.gallery img {
    height: auto;
    width: 35%;
    object-fit: cover;
    padding-right: 16px;
}

.gallery1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.gallery1 .description {
    height: auto;
    width: 65%;
    text-align: left;
}

.gallery2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.gallery2 .description {
    height: auto;
    width: 65%;
    text-align: left;
}

.gallery3 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    background-color: rgb(207, 204, 204);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}
.gallery3 .description {
    height: auto;
    width: 65%;
    text-align: left;
}

#description {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(74, 77, 77);
    font-size: larger;
}

#h6id {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(74, 77, 77);
    margin-top: 8px;
    margin-bottom: 8px;
}

.linkgallery {
    color: rgb(40, 183, 223);
    font-weight: lighter;
}

.linkgallery :hover {
    color: greenyellow;
    transition: color 100ms ease-in 100ms;
}

.starthere {
    background-color: rgb(207, 204, 204);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:rgb(74, 77, 77);
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.starthere h1 {
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
}

.coursegallery {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
    justify-content: center;
}

.course1 {
    width: 30%;
    height: auto;
    background-color: white;
}
.course2 {
    width: 30%;
    height: auto;
    background-color: white;
}

.course3 {
    width: 30%;
    height: auto;
    background-color: white;
}

.course4 {
    width: 30%;
    height: auto;
    background-color: white;

}
.course5 {
    width: 30%;
    height: auto;
    background-color: white;
}
.course6 {
    width: 30%;
    height: auto;
    background-color: white;
}

.classes {
    width: 100;
    height: auto;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.course1 img {
    width: 100%;
    height: auto;
}
.course2 img {
    width: 100%;
    height: auto;
}

.course3 img {
    width: 100%;
    height: auto;
}
.course4 img {
    width: 100%;
    height: auto;
}
.course5 img{
    width: 100%;
    height: auto;
}
.course6 img {
    width: 100%;
    height: auto;
}

.classes h5 {
    font-weight: lighter;
}

#courses {
    font-weight: lighter;
    padding-bottom: 8px ;
    padding-right: 8px;
}

.thesis {
    position: relative;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(74, 77, 77);
    width: 100%;
    height: auto;
}

.video {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
    margin-left: 24px;
    margin-right: 24px;
}

.video .description1{
    height: auto;
    width: 100%;
}
.thesis video {
    width: 100%;
    height: auto;
    display: flex;
}

.info {
    height: auto;
    row-gap: 24px;
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: flex-start; 
}

.info h3 {
    margin-top: 24px;
}

.exhbitgallery {
    height: auto;
    width: 40%;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
}

.exhibit1 {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    background-color: rgb(207, 204, 204);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
}
.exhibit2 {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.exhibit1 img{
    width: 35%;
    height: auto;
    padding-right: 16px;

}

.exhibit1 .description1 {
    width: 65%;
    height: auto;
}

.exhibit2 img{
    width: 35%;
    height: auto;
    padding-right: 16px;

}

.exhibit2 .description1 {
    width: 65%;
    height: auto;
}

.description1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding-bottom: 32px;
}
.description h6 {
    font-weight: lighter;
}

.description1 h6 {
    font-weight: lighter;
}
.description1 h3 {
    font-weight: bold;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: rgb(74, 77, 77);
    margin-left: 24px;
}

 a #terms {
    font-weight: lighter;
    color: rgb(74, 77, 77);
}

a #terms :hover {
    color: greenyellow;
    transition: color 100ms ease-in 100ms;
}

a #privacy {
    font-weight: lighter;
    color: rgb(74, 77, 77);
}

a #privacy :hover {
    color: greenyellow;
    transition: color 100ms ease-in 100ms; 
}

.footright {
    float: inline-end;
}

    @media only screen and (max-width: 768px) {
       .navigation {
        background-color: white;
        font-size: 14px;
        width: 100%;
        height: 64px;
        text-indent: -99999px;
        display: flex;
       }
.navright {
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url(./images/ic-logo.svg), url(./images/ic-login.svg), url(./images/ic-on-campus.svg), url(./images/ic-online.svg);
    background-position: 20%, 40%, 60%, 80%;
    background-repeat: no-repeat;
}
       
.navleft {
display: none;
}

.learn {
    display: flex;
    flex-direction: column-reverse; 
}

.banner {
    width: 100%;
    padding-top: 0%;
    padding-bottom:0% ;

}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.practice {
    margin-top: 16px;
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    
}

.practicedescription {
    display: none;
}

 .gallery {
    display: flex;
    max-width: 100%;
    padding-bottom: 32px;
    align-items: center;
}

.gallery1 {
    flex-direction: column;
    padding-bottom: 64px;
    width: 100%;b
}

.gallery1 img {
    width: 100%;

}

.gallery2 {
    padding-bottom: 64px;
    flex-direction: column;
    width: 100%;

}

.gallery2 img {
    width: 100%;
}
.gallery3 {
    flex-direction: column;
    width: 100%;
}

.gallery3 img {
    width: 100%;
}

.coursegallery img {
    display: none;
}

.coursegallery h5 {
    display: none;
}

.coursegallery #courses {

    display: none;
}

.coursegallery {

    flex-direction: column;
    max-width: 100%;
    font-size: 24px;
    row-gap: 8px;
}

.course1,
.course2,
.course3,
.course4,
.course5,
.course6 {
 background-color:rgb(207, 204, 204);
 width: 100%;
 border-radius: 25px ;
}

.starthere {
    background-color: white;
}

.exhbitgallery {
    display: none;
}

.video {
    width: 100%;
}

.video .video {
    width: 100%;
}
.info {
width: 100%;
align-items: center;
margin-left: 0;
margin-right: 0;

}

.video .description1 {
    display: none;
}

.thesis {
    margin-bottom: 24px;
}

footer .footright {
    display: none;
}

.footleft {
    font-size: smaller;
}

footer {
    margin-bottom: 16px;
}
    }

