
html {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}

* {
    background-color: white;
    font-family: 'Ford Antenna Regular', sans-serif !important;
}

body {
    background-color: #F4F4F4;
}
.nav {
    width: 100%;
    position: sticky;
    background-color: #F4F4F4;
}
    
.sectionheader {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
}
.headercontent{
    text-align: center;
    color:#00095b;
    display: flex;
    flex-direction: column;
    width: 770px;
    height: 215px;
    background-color: #F4F4F4;
}

.headercontent h2 {
    font-weight: 700;
    padding: 0 10px;
    font-size: large;
    margin-bottom: 0;
    background-color: #F4F4F4;
}

.mainhead{
    margin-bottom: 0;
    font-size: larger;
    background-color: #F4F4F4;
}
.shortdescription {
    display: flex;
    font-size: small;
    color: #8c8c8c;
    flex-direction: column-reverse;
    background-color: #F4F4F4;
}

.shortdescription p {
    height: 39px;
    overflow: hidden;
    transition: height .3s ease-out;
    line-height: 20px;
    background-color: #F4F4F4;
}

.shortdescription a{
    color:#00095b;
    background-color: #F4F4F4;
}
.toggle-button {
   text-align: end;
   border: none;
   cursor: pointer;
   background-color: #F4F4F4;

}

.shortdescription p.expanded {
    height: auto;
    background-color: #F4F4F4;
}

.textnav {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: smaller;
    background-color: #F4F4F4;
}

.textnav a{
    color:#00095b;
    transition: color 200ms ease-in-out 200ms;
    background-color: #F4F4F4;
}

.textnav a:hover {
    color:#00095b43;
}

.carousel h2 {
    color:#00095b;
    font-size: medium;
    width: 100%;
    text-align: left;
    background-color: #F4F4F4;

}

.carousel {
width: 100%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
background-color: #F4F4F4;
}

.images {
    display: flex;
    width: 100%;
    height: 215px;
    column-gap: 20px;
    color: #00095b;
    background-color: #F4F4F4;
}

.images a {
    display: hidden;
}

.imag1,
.imag2,
.imag3,
.imag4,
.imag5 {
display: flex;
flex-direction: column;
 width: 100%;
 height: auto;
 overflow: hidden;
 align-items: center;
 background-color: #F4F4F4;

}

.imag1 a,
.imag2 a,
.imag3 a,
.imag4 a,
.imag5 a{
    width: 100%;
    height: auto;
    overflow: hidden;
    color: #00095b;
    background-color: #F4F4F4;
}

.gallery {
    width: 100%;
    min-height: auto;
    background-color: #F4F4F4;
}

.body {
    width: 100%;
    height: auto;
    margin-top: 80px ;
    background-color: #F4F4F4;
}

.body img {
    width: 100%;
    height: auto;
    background-color: #F4F4F4;
}